.not-found {
    @include childcenter;
    @include flex-column;
    padding: 0 50px;
    text-align: center;

    h1 {
        @include size-weight(288px, 700);
        color: $red;
        margin-bottom: 50px;

        @include media-tablet {
            font-size: 180px;
        }

        @include media-mobile {
            font-size: 96px;
            margin-top: 20px;
        }
    }

    p {
        @include color-font-size($red, 36px);
        line-height: $line-height;

        @include media-tablet {
            font-size: 24px;
        }

        @include media-mobile {
            @include flex-column;
            font-size: 18px;
        }
    }

    a {
        @include margin-top-bottom(150px, 150px);
        font-size: 18px;
        text-decoration: underline;

        @include media-mobile {
            @include margin-top-bottom(120px, 120px);
            font-size: 14px;
        }
    }
}