.card {
    @include width-height(100%, 340px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        @include width-height(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    }

    
    
    .card-image {
        @include width-height(100%, 100%);
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    .card-title {
        @include size-weight(1.125rem, 700);
        @include position-absolute-bottom-left(25px, 20px);
        z-index: 10;
        color: $white;
        padding-right: 20px;
        line-height: $line-height;
    }

    @include media-tablet {
        height: 255px;
    }
}