.collapse {
    display: flex;
    flex-direction: column;
    margin: 0 auto 35px;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    max-width: 1023px;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $red;
        border-radius: 5px;
        width: 100%;
        h2 {
            color: $white;
            font-weight: 700;
            font-size: 24px;
            padding: 15px;
        }
        .arrow {
            width: 24px;
            height: 13.71px;
            cursor: pointer;
            padding: 15px;
            transition: transform 0.3s ease;
            transform: rotate(0deg);
        }

        .arrow.open {
            transform: rotate(180deg);
        }
    }

    .collapse-content {
        font-size: 18px;
        padding: 20px;
        line-height: 25.67px;
        background-color: $grey-collapse;
        border-radius: 0 0 5px 5px;
    }
}