.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 30px;

    @include media-mobile {
        margin-bottom: 0;
    }

    .host-name {
        color: $red;
        font-size: 18px;
        width: 50%;
        text-align: right;

        @include media-mobile {
            font-size: 12px;
        }
    }
    .host-picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;

        @include media-mobile {
            width: 32px;
            height: 32px;
        }
    }
}

