.slideshow {
    position: relative;
    margin-bottom: 40px;
    
   .slideshow-image {
        max-height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .slideshow-image.active {
        animation: fadeIn 0.5s ease-in-out;
        opacity: 1;
        position: relative;
    }

    .arrow-left {
        @include position-arrows-slideshow;
    }

    .arrow-right {
        @include position-arrows-slideshow;
        right: 0;
    }

    .numbering {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        color: $white;
        font-size: 18px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


